/* page.module.css */
.container {
  background-color: #222831;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

.cearaText {
  color: #00ADB5;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.cearaParagraph {
  margin-bottom: 20px; /* Ajuste o valor conforme necessário para criar o espaço desejado. */
}

.blueLink {
  color: #0071ff; /* Cor azul desejada */
  text-decoration: underline;
}
